.container {
	display: flex;
	justify-content: space-around;
	flex-direction: column;
	align-content: center;
	flex-wrap: wrap;
	padding: 0;
	margin: 0;
}
.playernav {
	display: flex;
	width: 500px;
	justify-content: space-around;
	align-items: center;
	list-style: none;
	padding-left: 0;
}
li {
	background-color: #f29c46;
	color: white;
	padding: 10px;
	border-radius: 5px;
	font-weight: bold;
}
