* {
	box-sizing: border-box;
}
.playerContainer {
	display: grid;
	justify-items: center;
	align-items: center;
}
.playerCard {
}
section {
	font-family: Arial, Helvetica, sans-serif;
	height: 280px;
	width: 300px;
	display: grid;
	justify-items: center;
	align-items: center;
	background-color: #303747;
	border-radius: 5px;
}

h2 {
	color: #303747;
	margin: 0;
	text-align: center;
}

article {
	display: flex;
	justify-content: space-between;
	min-width: 15rem;
	color: white;
	margin: 0.1rem;
	background-color: #f29c46;
}

article > div {
	padding: 0.5rem;
}

label {
	display: flex;
	display: block;
	align-items: center;
	margin-top: 0.5rem;
	font-weight: bold;
}

label span {
	color: white;
	width: 4.5rem;
}

input,
select {
	text-align: center;
	width: 100%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1rem;
	font-weight: bold;
	padding: 0.4rem;
	color: #f29c46;
	border: 2px solid #737495;
	border-radius: 5px;
	outline: none;
	border: none;
	-webkit-appearance: none;
}

.addPlayer {
	display: block;
	align-items: center;
	font-weight: bold;
	margin: 15px 0 0 85px;
	padding: 10px;
	background-color: #f29c46;
	color: white;
	border-radius: 5px;
	border: none;
	outline: none;
}

button:hover {
	color: white;
	background-color: #bb561c;
}
