.App-header {
	background-color: #303747;
	color: white;
	text-align: center;
	font-weight: bold;
	height: 60px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}
