.Court{
	background-image: url("Court.png");
	background-size: cover;
	padding: 40px;
	width: 427px;
	height: 612px;
	margin: auto;
	margin-top: 10px;	
	position: relative;
	display: grid;
	justify-items: right;
	align-items: center;
}

.save {
	background-color: #f29c46;
	color: white;
	border-radius: 5px;
	font-weight: bold;
	border: none;
	outline: none;
	padding: 10px;
	margin: 5px;
}
select{
	max-width: 100px;
	margin-bottom:10px;
}
.formationName {
	margin-top: 5px;
}
form {
	margin: 12px;
}
.formationForm {
	display: inline-block;
	justify-content: center;
	max-width: 427px;
	background-color: #5b9958;
	align-items: center;
	padding: 5px 100px;

}
